@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #1A1A40;
  padding: 2rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #8758ff;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.post-btn {
  background: #8758ff;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
}


.clear-all-btn {
    background: #8758ff;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
    margin-left: auto;
  }

.image-container {
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
    margin-right: auto;
}

.image-container img{
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.Todo:hover {
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c5aeff;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 
.todo-wrapper {
    display: flex;
}

.feed-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    width: 100%;
    overflow-y: auto;
    gap: 20px;
    max-height: 70vh;
    width: 100%;
    padding: 1rem;
    overflow-y: auto;
}

.Todo {
  display: flex;
  justify-content: flex-end;
  background: #8758ff;
  color: hsl(0, 0%, 100%);
  border-radius: 5px;
  padding: 0.5rem;
  word-wrap: break-word;
  overflow: hidden;
  height: 125px;
}

.post-text {
  overflow-wrap: break-word;
  margin-left: auto;
}

.post-info-container {
  display: flex;
  padding-left: 1rem;
  width: 50%;
}

.icon-container {
  margin-left: auto;
  margin-top: auto;
}

.create-post-modal-window-container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  background-color: #8758ff;
  border-radius: 5%;
  padding: 2rem;
}

input {
  all: unset;
  background-color: #1A1A40;
  border: none;
  color: white;
  padding: 1rem 0 1rem 0;
  width: 100%;
  border-radius: 1rem;
  -webkit-appearance: none; /* Remove spin buttons in WebKit browsers */
  -moz-appearance: textfield;
}

.submit-create-post-button {
  height: 100%;
  width: auto;
  margin: 1rem 0 0 0;
  padding: 1rem 2rem 1rem 2rem;
  background-color: #1A1A40;
  color: white;
  border: none;
  border-radius: 5;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;    
  border-radius: 1rem;
  align-self: center;
}

.create-post-modal-window-header {
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-bottom: 1rem;
  /* border: 2px solid red;; */
}

.create-post-modal-window-header-text {
  font-size: 1.7rem;
  margin-left: 0.2rem;
}

.close-post-modal-window-btn {
  margin-left: auto;
  height: 100%;
  aspect-ratio: 1/1;
  padding: 0.5rem;
  background-color: #1A1A40;
  border: 2px solid #1A1A40;
  border-radius: 50%;
  text-align: center;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  color: #8758ff;
  cursor: pointer;
}

.create-post-form {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;

}
